# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.vercel
next-env.d.ts

# OS
.DS_Store

# IDE
.vscode/
.idea/
